@model IEnumerable<CursoCuantos>
<!--vista de razor vacia-->
<h3>alumnos Por curso</h3>
    <table class="table table-bordered">
        <thead class="thead-ligth">
            <tr>
                <th>Curso</th>
                <th>Nº Alumnos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var curso in @Model)
            {
                <tr>
                    <td>@curso.clase</td>
                    <td>@curso.NumAlums</td>
                </tr>
            }
        </tbody>
    </table>
